n8n_workflow.json
{
  "name": "NotebookLM Watermark Pipeline",
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "trigger-schedule",
      "name": "Schedule (every 15 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 460],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "scan-drive",
      "name": "Scan Drive Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 380],
      "parameters": {
        "method": "GET",
        "url": "http://watermark-api:8000/api/pipeline/scan",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "root_folder_id",
              "value": "={{ $vars.DRIVE_ROOT_FOLDER_ID }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "filter-pending",
      "name": "Filter Unprocessed Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 380],
      "parameters": {
        "jsCode": "// Keep only files that haven't been successfully processed yet\nconst data = $input.first().json;\nconst files = data.files || [];\n\nconst pending = files.filter(f =>\n  f.pipeline_status === 'not_started' ||\n  f.pipeline_status === 'failed'\n);\n\nconsole.log(`Total: ${files.length} | To process: ${pending.length}`);\n\nif (pending.length === 0) {\n  // Return an empty array — downstream nodes won't execute\n  return [];\n}\n\nreturn pending.map(f => ({ json: f }));"
      }
    },
    {
      "id": "check-has-files",
      "name": "Has Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1020, 380],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "no-files",
      "name": "Nothing to process",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1280, 520],
      "parameters": {}
    },
    {
      "id": "loop-files",
      "name": "Process Files (one by one)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1280, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "submit-job",
      "name": "Submit to Pipeline API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "parameters": {
        "method": "POST",
        "url": "http://watermark-api:8000/api/pipeline/process",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "drive_file_id": "={{ $json.drive_file_id }}",
          "filename": "={{ $json.filename }}",
          "categoria_name": "={{ $json.categoria_name }}",
          "tema_name": "={{ $json.tema_name }}"
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "check-already-done",
      "name": "Already processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-already",
              "leftValue": "={{ $json.message }}",
              "rightValue": "already_processed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "log-already-done",
      "name": "Log: Already done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2060, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "result",
              "value": "already_processed",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "cdn_url",
              "value": "={{ $json.cdn_url }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "poll-wait",
      "name": "Wait 30 seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2060, 400],
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 30
      },
      "webhookId": "poll-wait-webhook"
    },
    {
      "id": "poll-status",
      "name": "Poll Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 400],
      "parameters": {
        "method": "GET",
        "url": "=http://watermark-api:8000/api/pipeline/jobs/{{ $('Submit to Pipeline API').item.json.job_id }}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "check-job-done",
      "name": "Job Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2580, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-done",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "check-job-failed",
      "name": "Job Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2840, 520],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "log-success",
      "name": "Log: Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2840, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "result",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "cdn_url",
              "value": "={{ $json.cdn_url }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "log-error",
      "name": "Log: Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3100, 520],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "result",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "e3",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "back-to-loop",
      "name": "Next File",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3100, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Scan Drive Tree", "type": "main", "index": 0 }]
      ]
    },
    "Schedule (every 15 min)": {
      "main": [
        [{ "node": "Scan Drive Tree", "type": "main", "index": 0 }]
      ]
    },
    "Scan Drive Tree": {
      "main": [
        [{ "node": "Filter Unprocessed Files", "type": "main", "index": 0 }]
      ]
    },
    "Filter Unprocessed Files": {
      "main": [
        [{ "node": "Has Files?", "type": "main", "index": 0 }]
      ]
    },
    "Has Files?": {
      "main": [
        [{ "node": "Process Files (one by one)", "type": "main", "index": 0 }],
        [{ "node": "Nothing to process", "type": "main", "index": 0 }]
      ]
    },
    "Process Files (one by one)": {
      "main": [
        [{ "node": "Submit to Pipeline API", "type": "main", "index": 0 }]
      ]
    },
    "Submit to Pipeline API": {
      "main": [
        [{ "node": "Already processed?", "type": "main", "index": 0 }]
      ]
    },
    "Already processed?": {
      "main": [
        [{ "node": "Log: Already done", "type": "main", "index": 0 }],
        [{ "node": "Wait 30 seconds", "type": "main", "index": 0 }]
      ]
    },
    "Log: Already done": {
      "main": [
        [{ "node": "Next File", "type": "main", "index": 0 }]
      ]
    },
    "Wait 30 seconds": {
      "main": [
        [{ "node": "Poll Job Status", "type": "main", "index": 0 }]
      ]
    },
    "Poll Job Status": {
      "main": [
        [{ "node": "Job Completed?", "type": "main", "index": 0 }]
      ]
    },
    "Job Completed?": {
      "main": [
        [{ "node": "Log: Success", "type": "main", "index": 0 }],
        [{ "node": "Job Failed?", "type": "main", "index": 0 }]
      ]
    },
    "Job Failed?": {
      "main": [
        [{ "node": "Log: Error", "type": "main", "index": 0 }],
        [{ "node": "Wait 30 seconds", "type": "main", "index": 0 }]
      ]
    },
    "Log: Success": {
      "main": [
        [{ "node": "Next File", "type": "main", "index": 0 }]
      ]
    },
    "Log: Error": {
      "main": [
        [{ "node": "Next File", "type": "main", "index": 0 }]
      ]
    },
    "Next File": {
      "main": [
        [{ "node": "Process Files (one by one)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1"
}
